.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background: #27a2c4;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e53935;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
